<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Файловый анализ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
</head>

<body>

    <div class="container">

        <h1 class="title">Определение тональности комментариев</h1>

        <div class="card upload-card">
            <form id="uploadForm" class="upload-form">
                <label class="btn" for="fileInput">Выберите файл</label>
                <input type="file" id="fileInput" name="file" required style="display:none;">
                <span id="fileName" class="file-name">Файл не выбран</span>
                <button type="submit" class="btn">Загрузить .csv файл</button>
            </form>
        </div>

        <div class="card progress-card hidden" id="progressCard">
            <div class="progress-bar-bg">
                <div class="progress-bar-fill" id="progressFill"></div>
            </div>
            <p id="progressText">Ожидание...</p>
        </div>

        <div class="card result-card hidden" id="resultCard">
            <h2>Результат:</h2>

            <a id="downloadLink" class="btn" download>Скачать обработанный файл</a>

            <div class="image-wrapper">
                <img id="resultImage" src="" alt="График">
            </div>
        </div>

    </div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>

</body>
</html>